@model Comment

<div class="well well-sm">
    <p class="text-info"> @Model.Body</p>
    <p>@Model.CreatedAt Likes<span class="badge">@Model.Likes</span> Id:@Model.Id, UserId: @Model.UserId, PostId: @Model.PostId</p>
</div>